<a href="https://colab.research.google.com/github/jiseon050/2024.DB/blob/main/01_MCmenu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

data = pd.read_csv('menu.csv')
conn = sqlite3.connect('McDonalds.db')
data.to_sql('MCDONALDS_NUTRITION', conn)

ValueError: Table 'MCDONALDS_NUTRITION' already exists.

In [ ]:
#data frame
df = pd.read_sql("select * from MCDONALDS_NUTRITION", conn)
df.head

<bound method NDFrame.head of      index            Category  \
0        0           Breakfast
1        1           Breakfast
2        2           Breakfast
3        3           Breakfast
4        4           Breakfast
..     ...                 ...
255    255  Smoothies & Shakes
256    256  Smoothies & Shakes
257    257  Smoothies & Shakes
258    258  Smoothies & Shakes
259    259  Smoothies & Shakes

                                                  Item     Serving Size  \
0                                         Egg McMuffin   4.8 oz (136 g)
1                                    Egg White Delight   4.8 oz (135 g)
2                                     Sausage McMuffin   3.9 oz (111 g)
3                            Sausage McMuffin with Egg   5.7 oz (161 g)
4                     Sausage McMuffin with Egg Whites   5.7 oz (161 g)
..                                                 ...              ...
255                 McFlurry with Oreo Cookies (Small)  10.1 oz (285 g)
256                McFlurry with Oreo Cookies (Medium)  13.4 oz (381 g)
257                 McFlurry with Oreo Cookies (Snack)   6.7 oz (190 g)
258  McFlurry with Reese's Peanut Butter Cups (Medium)  14.2 oz (403 g)
259   McFlurry with Reese's Peanut Butter Cups (Snack)   7.1 oz (202 g)

     Calories  Calories from Fat  Total Fat  Total Fat (% Daily Value)  \
0         300                120       13.0                         20
1         250                 70        8.0                         12
2         370                200       23.0                         35
3         450                250       28.0                         43
4         400                210       23.0                         35
..        ...                ...        ...                        ...
255       510                150       17.0                         26
256       690                200       23.0                         35
257       340                100       11.0                         17
258       810                290       32.0                         50
259       410                150       16.0                         25

     Saturated Fat  Saturated Fat (% Daily Value)  ...  Carbohydrates  \
0              5.0                             25  ...             31
1              3.0                             15  ...             30
2              8.0                             42  ...             29
3             10.0                             52  ...             30
4              8.0                             42  ...             30
..             ...                            ...  ...            ...
255            9.0                             44  ...             80
256           12.0                             58  ...            106
257            6.0                             29  ...             53
258           15.0                             76  ...            114
259            8.0                             38  ...             57

     Carbohydrates (% Daily Value)  Dietary Fiber  \
0                               10              4
1                               10              4
2                               10              4
3                               10              4
4                               10              4
..                             ...            ...
255                             27              1
256                             35              1
257                             18              1
258                             38              2
259                             19              1

     Dietary Fiber (% Daily Value)  Sugars  Protein  \
0                               17       3       17
1                               17       3       18
2                               17       2       14
3                               17       2       21
4                               17       2       21
..                             ...     ...      ...
255                              4      64       12
256                              5      85       15
257                              2      43        8
258                              9     103       21
259                              5      51       10

     Vitamin A (% Daily Value)  Vitamin C (% Daily Value)  \
0                           10                          0
1                            6                          0
2                            8                          0
3                           15                          0
4                            6                          0
..                         ...                        ...
255                         15                          0
256                         20                          0
257                         10                          0
258                         20                          0
259                         10                          0

     Calcium (% Daily Value)  Iron (% Daily Value)
0                         25                    15
1                         25                     8
2                         25                    10
3                         30                    15
4                         25                    10
..                       ...                   ...
255                       40                     8
256                       50                    10
257                       25                     6
258                       60                     6
259                       30                     4

[260 rows x 25 columns]>

In [ ]:
! df.describe(include = 'all')

/bin/bash: -c: line 1: syntax error near unexpected token `include'
/bin/bash: -c: line 1: ` df.describe(include = 'all')'

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns